/* navbar fix */
body{
    margin-top:56px;
}

/* Navbar styles */
nav.bg-primary a{
    color:white;
}
nav.bg-primary{
    background-color:#2196F3 !important;
}
.bg-primary .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.7);
}

/* SIDENAV */
div.sidenav{
    background-color:red;
    color:white;
    padding:15px;
}

/* Main content */
div.main{
    padding:15px;
}

/* Modal login */
div.modal.login{
    display:inherit;
    position: inherit;
}