<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Scripts -->
    <script src="src/console/console.js"></script>
    <script src="src/products/products.js"></script>
    <script type="module" src="src/src/jquery.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="src/src/src.css">
    <link rel="stylesheet" href="src/console/console.css">
    <link rel="stylesheet" href="src/products/products.css">
    <link rel="stylesheet" href="src/fonts/google_icons.css">

</head>
<body>



</body>
</html>
